<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1>Edit Fruit Page</h1>

        <form action="/fruits/<%=index%>?_method=PUT" method="POST">
            Name: <input type="text" name="name" value=<%=fruit.name%> /><br>
            Color: <input type="text" name="color" value=<%=fruit.color%> /><br>
            Is Ready to Eat:
            <input type="checkbox" name="readyToEat"
                <% if(fruit.readyToEat === true) { %>
                    checked
                <% } %>
            /> <br>
            <input type="submit" value="Edit Fruit" />
        </form>
    </body>
</html>